.idea
cookies/
cookies.*/
cookies-*/
broswer
database
config/__pycache__
__pycache__
storage/*/*/*.html
storage/*/*/*.json
!storage/proxy/*/*.json
storage/*/*/*.log
storage/*/*.html
broswer/*/data
broswer/*.lnk
storage/data/*.json
env
*.lnk

storage/trans_page
storage/trans_title_page
start_data/
storage/data/browser
!/storage/data/
!/storage/proxy/
storage/proxy/v2ray/config
storage/proxy/ssr/gui-config.json.backup
storage/proxy/ssr/transfer_log.json
storage/proxy/ssr/gui-config.json
storage/proxy/ssr/temp
*.DS_Store
origin_tokens
storage/data/token
env_perplexity_benchchem_chemical_reaction_analysis
env-1121-bak
env_perplexity_benchchem_application
env_perplexity_benchchem_desc
origin_tokens_bak
template_benchchem_application
template_benchchem_chemical_reaction_analysis
template_benchchem_chemical_reaction_analysis-bak
template_benchchem_desc
template_benchchem_detail_article
template_evt_detail_article
template_evt_detail_article.baknov22
test.py
storage/bottle
storage/bottle-bak
storage/labels
aws.txt
